.sortable-ghost {
  background-color: black;
}

.sortable-chosen {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.sortable-drag {
  color: #777;
  cursor: not-allowed;
  background-color: #eee;
  border-color: #eee;
}

